<div class="container-fluid home-gradient text-white">
  <div class="row align-items-center pt-4 mb-4">
        <div class="col-lg-2 col-4 offset-4 offset-lg-0 mb-2 mb-lg-0">
      <img src="https://res.cloudinary.com/aseed/image/upload/v1647374637/afripedia/logo-transparent_tcwj4i.png" alt="" class="img-fluid">
    </div>
    <div class="col-lg-5 col-12">
      <%= form_tag(courses_path, class:"row row-cols-lg-auto g-3 align-items-center", method: :get) do %>
            <div class="input-group mb-3">
              <%= text_field_tag :name, params[:name], autocomplete: 'off', placeholder: "Trouver un cours", class: 'form-control' %>
                <button class="btn btn-rouge" type="submit">
                  Trouver un cours
                </button>
            </div>
          <% end %>
    </div>
    <div class="col-lg-1">
      <div class="dropdown">
  <button class="btn btn-vert  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Explorez les cours
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <% @categories.each do |categorie| %>
    <li><%= link_to categorie.name, categorie, class:"dropdown-item" %></li>
    <% end %>
  </ul>
</div>
    </div>
    <div class="col-lg-4">
     <%=render 'menus/main'%>
    </div>
  </div>
  <div class="row align-items-center">
        <div class="col-lg-5 p-4">
      <h4 class="home-title-1">Bienvenue sur AfriPédia</h4>
      <p class="home-paragraphe">
        Profitez des séries exclusives Amazon Original ainsi que de nombreux films et séries populaires pour 5,99 USD/mois. Regardez maintenant, résiliez à tout moment.
      </p>
      <button type="button" class="btn btn-lg btn-rouge">commencer un cours</button>
    </div>
    <div class="col-lg-6 pb-4">
        <div class="swiper-container slideshow">

    <div class="swiper-wrapper">

      <div class="swiper-slide slide">
        <div class="slide-image" style="background-image: url(https://images.unsplash.com/photo-1538083024336-555cf8943ddc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=66b476a51b19889e13182c0e4827af18&auto=format&fit=crop&w=1950&q=80)"></div>
        <span class="slide-title">Exotic places</span>
      </div>

      <div class="swiper-slide slide">
        <div class="slide-image" style="background-image: url(https://images.unsplash.com/photo-1500375592092-40eb2168fd21?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e07d2457879a4e15577ec75a31023e47&auto=format&fit=crop&w=2134&q=80"></div>
        <span class="slide-title">Meet ocean</span>
      </div>

      <div class="swiper-slide slide">
        <div class="slide-image" style="background-image: url(https://images.unsplash.com/photo-1482059470115-0aadd6bf6834?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=267bba9a4e280ec64388fe8fb01e9d1b&auto=format&fit=crop&w=1950&q=80"></div>
        <span class="slide-title">Around the world</span>
      </div>

            <div class="swiper-slide slide">
        <div class="slide-image" style="background-image: url(https://images.unsplash.com/photo-1500375592092-40eb2168fd21?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e07d2457879a4e15577ec75a31023e47&auto=format&fit=crop&w=2134&q=80"></div>
        <span class="slide-title">Meet ocean</span>
      </div>

    </div>

    <div class="slideshow-pagination"></div>

    <div class="slideshow-navigation">
      <div class="slideshow-navigation-button prev"><span class="fas fa-chevron-left"></span></div>
      <div class="slideshow-navigation-button next"><span class="fas fa-chevron-right"></span></div>
    </div>

  </div>
    </div>
  </div>
</div>
<div class="container bg-noir p-4">
  <div class="row">
    <div class="col-lg-12 col-12 p-4">
      <h3 class="section-titre text-white mb-4">Explorez</h3>
<div class="row row-cols-2 row-cols-md-4 g-4">
  <% @latest_courses.each do |course| %>
  <div class="col">
    <div class="card h-100">
    <%= render 'courses/course', course: course %>
    </div>
</div>
<% end %>
</div>
    </div>
  </div>
</div>
<div class="container-fluid bg-noir">
  <div class="row align-items-center">
    <div class="col-lg-10 offset-lg-1 col-12">
      <div class="row">
        <div class="col-lg-6 col-12 mb-4">
              <img src="https://www.thinkific.com/wp-content/themes/thinkific/assets/images/home/home-student-experience-background--desktop.webp" alt="" class="img-fluid">
    </div>
    <div class="col-lg-5 offset-lg-1 col-12 p-4 text-white">
      <h3 class="section-titre mt-4">
        Partagez vos connaissances. 
      </h3>
      <p class="section-paragraphe mt-4">
        The most successful course creators know that seeing results for their business depends on delivering an exceptional learning experience to their audience. 
      </p>
      <p class="section-paragraphemt-2">
       Every Thinkific feature, from our landing page templates to our state-of-the-art learning environment, was designed so you can enhance your students’ experience and grow your business for long term success.  
      </p>
    </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-noir p-4">
  <div class="row align-items-center">
    <div class="col-lg-6 offset-lg-3 col-12 p-4">
      <figure class="text-center">
  <blockquote class="blockquote">
    <p class="text-white">Un peuple sans la connaissance de son<span class="text-rouge fw-bold"> histoire passée</span>, de son origine et de sa culture est comme un <span class="text-jaune fw-bold">arbre sans racines</span>.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Marcus Garvey
  </figcaption>
</figure>
    </div>
  </div>
</div>


<div class="container-fluid bg-noir">
  <div class="row align-items-center">
    <div class="col-lg-10 offset-lg-1 col-12">
      <div class="row">
        <div class="col-lg-6 col-12 mb-4">
              <img src="https://www.thinkific.com/wp-content/themes/thinkific/assets/images/home/home-student-experience-background--desktop.webp" alt="" class="img-fluid">
    </div>
    <div class="col-lg-5 offset-lg-1 col-12 p-4 text-white">
      <h3 class="section-titre mt-4">
        Partagez vos connaissances. 
      </h3>
      <p class="section-paragraphe mt-4">
        The most successful course creators know that seeing results for their business depends on delivering an exceptional learning experience to their audience. 
      </p>
      <p class="section-paragraphemt-2">
       Every Thinkific feature, from our landing page templates to our state-of-the-art learning environment, was designed so you can enhance your students’ experience and grow your business for long term success.  
      </p>
    </div>
      </div>
    </div>
  </div>
</div>