<figure class="snip1423">
  <div style="background: url('<%= course.thumbnail.url %>')no-repeat;height: 200px;background-size:cover;"></div>
  <figcaption>
    <h3><%= course.name%></h3>
    <div class="row mt-4 align-items-center">
      <div class="col-lg-6 col-12">
        <p class="float-start"><%= course.category.name%></p>
      </div>
      <div class="col-lg-6 col-12">
        <p class="float-end"><%= course.user.username%></p>
      </div>
    </div>
    <div class="row mt-4 align-items-center">
      <div class="col-lg-6 col-12">
        <p class="float-start"><%= course.average_rating %></p>
      </div>
    </div>
  <%= link_to "", course %>
</figure>