<figure class="snip1423">
  <%= image_tag course.thumbnail.url %>
  <figcaption>
    <h3><%= course.name%></h3>
    <p><%= course.category.name%></p>
    <p><%= course.user.username%></p>
    <!--div class="price">
      <s>$24.00</s>$19.00
    </div-->
        <footer>
      <div class="date"><%= course.average_rating %></div>
      <div class="icons">
        <div class="views"><i class="ion-eye"></i><%=course.subscriptions_count%></div>
        <div class="love"><i class="ion-heart"></i>623</div>
      </div>
    </footer>
  <%= link_to "", course %>
</figure>