<div class="container-fluid top-menu text-white">
  <div class="row p-2">
    <div class="col-lg-2">
      <h5>Afripédia</h5>
    </div>
    <div class="col-lg-5">
      <%= form_tag(courses_path, class:"row row-cols-lg-auto g-3 align-items-center", method: :get) do %>
            <div class="input-group mb-3">
              <%= text_field_tag :name, params[:name], autocomplete: 'off', placeholder: "Trouver un cours", class: 'form-control' %>
                <button class="btn btn-vert" type="submit">
                  Trouver un cours
                </button>
            </div>
          <% end %>
    </div>
    <div class="col-lg-5">
     <%=render 'menus/main'%>
    </div>
  </div>
</div>


<div class="container-fluid top-menu text-white">
  <div class="row p-2">
    <div class="col-lg-12">
<% content_for :title do %>
  AfriPédia
  |
  <%= action_name.humanize %>
  Cours
<% end %>
<div class="row row-cols-1 row-cols-md-5 g-4">
  <% @courses.each do |course| %>
    <div class="col">
    <div class="card h-100">
    <%= render 'courses/course', course: course %>
    </div>
</div>
  <% end %>
</div>
</div>
  </div>
</div>
