<!--course/show
-->
<% content_for :title do %>
  EDURGE
  |
  <%= @course.name %>
<% end %>
<div class="text-white">
  <div class="fa fa-bookmark"></div>
  <%= link_to @course.category, category_path(@course.category) %>
  >
  <div class="fa fa-graduation-cap"></div>
  <%= @course.name %>
</div>
<div class="row">
  <div class="col-lg-8 order-1 order-lg-0">
    <div class="jumbotron">
      <h3>
        <div class="fa fa-graduation-cap"></div>
        <b>
          <%= @course.name %>
        </b>
      </h3>
      <p></p>
      <div class="fa fa-clock"></div>
      Last updated
      <%= @course.updated_at.strftime('%m/%Y') %>
      <div class="row"></div>
      <div class="fa fa-comment"></div>
      <%= @course.language %>
      <div class="row"></div>
      <div class="fa fa-signal"></div>
      <%= @course.level %>
      <div class="row"></div>
      <div class="fa fa-clock"></div>
      <b>Duration:</b>
      <%= @course.duration  %>
      min
      <div class="row"></div>
      <b>Price:</b>
      <%= number_to_currency(@course.price) %>
      <div class="row"></div>
      <b>Description:</b>
      <small>
        <%= simple_format(@course.description) %>
      </small>
    </div>
    <div class="text-white">
      <h4>
        <div class="fa fa-book"></div>
        <%= pluralize(@course.lessons_count, 'lesson') %>
        <div class="float-right">
          <div class="fa fa-spinner"></div>
          <%= number_to_percentage(@course.progress(current_user), precision: 0) %>
          <!--.progress
          -->
          <!--  .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{@course.progress(current_user)}", :role => "progressbar", :style => "width: #{@course.progress(current_user)}%;"} #{@course.progress(current_user).round(2)}%
          -->
        </div>
      </h4>
    </div>
    <div class="list-group lesson-sortable">
      <% @lessons.each do |lesson| %>
        <%= content_tag "div", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: lesson_sort_path(lesson)} do %>
          <div class="list-group-item">
            <%= render 'lessons/lesson_preview', lesson: lesson %>
          </div>
        <% end %>
      <% end %>
    </div>
    <p></p>
    <div class="text-white">
      <h4>
        <div class="fa fa-comment"></div>
        <%= pluralize(@subscriptions.count, 'review') %>
      </h4>
    </div>
    <% @subscriptions.each do |subscription| %>
      <%= render 'subscriptions/subscription', subscription: subscription %>
      <p></p>
    <% end %>
  </div>
  <div class="col-lg-4 order-0 order-lg-1">
    <div class="sticky-top">
      <%= render 'courses/course', course: @course %>
    </div>
    <p></p>
  </div>
</div>